body {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;

}


h1 {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

h3 {
    text-align: center;
    font-style: initial;
}

#box {
  margin-left: 33%;
}
.main1 {
  background-image: url(mcquenn.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
  
}

.back, .front{
  position: absolute;
  width: 100%;
  height:100%;
}
.botao {
  text-align: center;
  color: blue;
    
    padding: 1px 5px;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(0, 162, 255);
  }
  
  button:active {
    background-color: rgb(0, 0, 255);
  }

.main2{
  background-image: url(o-carro-lewis-hamilton-no-filme-carros-2-original.webp);
  background-size: 190px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
  

}

.main3{

  background-image: url(hicks.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;



}

.main4{


  background-image: url(hudson.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main5{

  background-image: url(matt.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main6{

  background-image: url(sally.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main7{

  background-image: url(filmore.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main8{

  background-image: url(rei.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main9{

  background-image: url(ramom.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

.main10{

  background-image: url(flo.jpg);
  background-size: 100%;
  width: 100px;
  height: 100px;
  position:relative;
  transform-style: preserve-3d;
  border: solid black 2px;
  margin: 5px;
}

  